/*HEADER*/

/*header{
    background: lightblue;
}*/

/* MAIN 
main{
background: lightcyan; 
}*/

/*FOOTER
footer{
    background: purple;
}

/* container{
    background: lightseagreen;
}

/*nav{
    background: yellow;
}
.container-text{
    background: gray;
}*/
/*#section-about{
    background: lightcoral;
}
section-skills{
    background: slateblue;
}
#section-contact{
    background: magenta;
}

#section-socialMedia{
    background: white;
}